body{
    background-image: url("http://cdn2.thr.com/sites/default/files/imagecache/gallery_landscape_1296x730/2015/11/DSC_8157.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
  color: white;
  font-family: "Arial", Sans-serif, serif;
  font-weight: bold;
  font-size:250%;
}
